body {
    font: 10px sans-serif;
    background-color: #eee;
    }

h1 {
    font-size: 24;
    padding-top: 50px;
    padding-bottom: 20px;
}

.container {
    display: inline-block;
    vertical-align: top;
    border: 1px dotted gray;
    margin: 10px;
    padding: 10px;
}

.container:hover {
    border: 2px dotted gray;
    margin: 9px;
}

.color {
    font-size: 12px;
    font-family: monospace;
    width: 50px;
    color: transparent;
    cursor: pointer;
}

table {
    padding: 10px;
}

tr.hover:hover {
    background-color: orange;
}

td {
    border: none;
    margin: none;
    text-align:center;
}

td.title {
    text-align: left;
}

input[type="checkbox"] {
    cursor: pointer;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    }

.path {
    fill: none;
    stroke: steelblue;
    stroke-width: 4px;
    cursor: pointer;
    opacity: 0.5;
    }

.line:hover {
    stroke-width: 6px;
    opacity: 1;
    }

.rect {
    fill: blue;
    stroke: transparent;
    stroke-width: 15px;
    cursor: crosshair;
}

.rect:hover {
    fill: red;
}

#wbContainer {
    width: 1040px;
}

#wbContainer img {
    width: 95%;
    cursor: pointer;
}
