body {
	font: 10px sans-serif;
	}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
	stroke-dasharray: 5, 1;
	cursor: pointer;
	opacity: 0.5;
	}

.line:hover {
	stroke-width: 6px;
	opacity: 1;
	}

.rect {
	fill: blue;
	cursor: pointer;
}

.rect:hover {
	fill: red;
}